<div class="container">
    <div class="row">
        <div class="col-3">
            <p>ジャンル検索</p>
            <% @genres.each do |genre| %>
                <%= genre.name %>
            <% end %>
        </div>    
        <div class="col-9">
            <h1>商品</h1>
                <%= image_tag @item.get_image(100, 100) %>
                <%= @item.name %>
                $<%= @item.price %>
        </div>
    </div>    
</div>